html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(250, 250, 250);
	width: 100%;
}

.app {
	width: 100%;
}

.containers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 64px;
}


@media (max-width: 770px) {
	body {
		width: 100%
	}

	.app {
		width: 100%;
	}

	.containers {
		margin: 0 10%;
	}
}